<!DOCTYPE html>
  <html xmlns:th="http://www.thymeleaf.org">
      <div class="header" th:fragment="bodyHeader">
          <ul class="nav nav-pills pull-right">
              <li><a href="/">Home</a></li>
              <li><a href="/">Enter News URL</a></li>
              <li><a href="/">Search Word</a></li>
              <li><a href="/">Vocabulary Lists</a></li>
              <li><a href="/sign-in">Sign In</a></li>
          </ul>
          <a href="/"><h3 class="text-muted">NEWSIONARY</h3></a>
      </div>
  </html>