<!DOCTYPE html>
  <html xmlns:th="http://www.thymeleaf.org">
      <div class="header" th:fragment="bodyHeader">
          <ul class="nav nav-pills pull-right">
              <li class = "nav-item"><a class="nav-link" href="/">Home</a></li>
              <li class = "nav-item"><a class="nav-link" href="/">Enter News URL</a></li>
              <li class = "nav-item"><a class="nav-link" href="/">Search Word</a></li>
              <li class = "nav-item"><a class="nav-link" href="/">Vocabulary Lists</a></li>
              <li class = "nav-item">
                  <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/sign-in}">Sign In</a>
                  <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/sign-out}">Sign Out</a>
              </li>
          </ul>
          <a href="/"><h3 class="text-muted">NEWSIONARY</h3></a>
      </div>
  </html>