<!DOCTYPE html>
  <html xmlns:th="http://www.thymeleaf.org">
  <head th:fragment="header">
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
      <link href="/css/popup_forms.css" rel="stylesheet">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400&family=Poppins:wght@300;400;500&display=swap" rel="stylesheet">
      <!--<link href="/css/jumbotron-narrow.css" rel="stylesheet"> -->

      <!--custom CSS-->
      <link rel= "stylesheet" href="/css/custom.css">
      <link href="/css/password-validation-css.css" rel="stylesheet">
      <link href="/css/popup_forms.css" rel="stylesheet">


      <!-- Font Awesome-->
      <script src="https://kit.fontawesome.com/b06839dbc9.js" crossorigin="anonymous"></script>
<!--       <link th:rel="stylesheet" th:href="@{webjars/font-awesome/6.2.0/css/all.css} "/> -->

      <title>NEWSIONARY</title>
</head>

