p{font-family: 'Poppins' , arial, serif; }

#BG_photo{
    background-blend-mode: overlay;
}

#URL {
    border-radius: 30px;
    height: 3em;
    width: 35em;
    padding-left: 1.5em;
    padding-right: 5em;
    border: none;
    /*padding: 2em 0;*/
}

#searchButton{
    border-radius: 30px;
    height: 2em;
    width: 2em;
    margin-left: -3em;
    background-color: white;
    border: none;
/*    글씨 색 남색 + 마우스 호버시 검은색되도록*/
}

.navColor{
    color: #666666;
    font-size: smaller;
}

.navIcon{
    margin-right: 2px;
}

/*#BG_photo{*/
    /*background-position: 50% 50%;*/
    /*background-repeat: no-repeat;*/
    /*object-position: center center;*/
    /*object-fit: cover;*/
/*}*/