p{font-family: 'Poppins' , arial, serif; }

#BG_photo{
    background-blend-mode: overlay;
}

.searchBar {
    border-radius: 30px;
    height: 3em;
    width: 35em;
    padding-left: 1.5em;
    padding-right: 5em;
    border: none;
    /*padding: 2em 0;*/
}

.searchButton{
    border-radius: 30px;
    height: 2em;
    width: 2em;
    margin-left: -3em;
    background-color: white;
    border: none;
/*    글씨 색 남색 + 마우스 호버시 검은색되도록*/
}

.navColor{
    color: #666666;
    font-size: smaller;
}

.navIcon{
    margin-right: 2px;
}

/*이유는 모르겠지만 아래 코드들이 적용되지 않는다.*/
.radioSelect{
    margin: 0 3px 0 5px;
    padding: 0 2px 0 2px;
}

input[type="radio"]{
    margin: 0 10px 0 10px;
}

#radioFieldset{
    justify-content: space-around;

}

.guideBody{
    display: block;
    background-color: rgba(213, 213, 213, 0.7);
    border-radius: 15px;
    color: #0f0f0f;
    padding: 0.8em;
    margin-bottom: 0.5em;
}

.noShow{
    display: none;
}

#searchGuide{
    display: inline-flex;
    color: white;
    font-size:1em;
    margin-right: 7em;
    border-radius: 4px;
    background-color: rgba(34, 34, 34, 0.15);

}

#searchGuide:hover{
    font-weight: bold;
    color: azure;
    background-color: rgba(34, 34, 34, 0.77);
}

#wordSearchResult{
    border: #0f0f0f solid 1px;
}

#formLocation{
    position: fixed;
    background-color: #c2c2c2;
    bottom: 3em;
    right: 3em;
    width: 25em;
    height: 15em;
    border: 3px solid #73AD21;
    padding: 1em;
    border-radius: 20px;
}

#resultDiv{
    width: 60%;
    height: 90%;
}

#grayBG{
    width: 90%;
    padding-top: 1%;
    bottom: 1%;
    margin-bottom: 0;

}

#wordListSelect{
    width: 30em;
}

.center{
    text-align: center;
}

.wordsInList:hover {
    background-color: rgba(213, 213, 213, 0.76);
}

#wordMeaningTable>tr:nth-child(even) {
    background-color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.row {
    /*width: 90%;*/
    display: flex;
    vertical-align: center;
    justify-content: space-between;
}

.column {
    display: flex;
    vertical-align: center;
    justify-content: space-evenly;
    /*float: left;*/
    padding: 5px;
}

.tableSideBySide{
    float: left;
    margin-left: 2.5em;
}

#wordMeaningTable{
    background-color: white;
    padding: 3.5em;
    width: auto;
    min-width: 230px;
    max-width: 100%;
    border-collapse: initial;
}

.wordClassSpan{
    font-size:17px;
    background-color: #3c3c3c;
    color: rgba(255, 255, 255, 0.89);
    border-radius: 5px;
    padding: 1px 4px;
}

#bigContainerForWordList{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    background-color: #eee;
}

.filterLink{
    display: block;
    margin: 3% 0 -2% 15%;
    z-index: 500;
}

.btn{
    margin: 2px;
}

#btnDiv{
    display: flex;
    justify-content: space-evenly;
}

#resultContainer{
    text-align: center;
    width: 23%;
    padding: 4% 5%;
    background-color: rgba(182, 182, 182, 0.7);
    border-radius: 10px;
    border: #5e5e5e solid 2px;
    position: fixed;
    left:50%;
    bottom: 30%;
}

td{
    text-align: center;
}