.passChecker {
    color: rgb(0, 112, 0);
    background-color: rgba(0, 255, 0, 0.25);
}

.nopassChecker {
    color: rgb(110, 0, 0);
    background-color: rgba(248, 66, 66, 0.329);
}

.id-checker, .pw-checker {
    display: block;
    list-style-type: none;
}

.noshow {
    display: none;
}