<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
  <head th:replace="fragments/header :: header"/>
    <title>admin</title>
  </head>
  <body>
    <div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <h2>Admin Page</h2>
<!--     Member ID : <span th:text="${#authentication.prop}"></span> <br> -->
    ID : <span sec:authentication="name"></span> <br>
    Authorities : <span sec:authentication="authorities"></span> <br>
    <br>
    <a href= "/admin/AddSingleWordToDB">Add a word to DB</a><br>
    <a href= "/admin/AddWordsToDB">Add CSV file for Word DB</a><br>
<!--     <form id="logout" action="/logout" method="POST"> -->
<!--       <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" /> -->
<!--       <input type="submit" value="로그아웃"/> -->
<!--     </form> -->
    <div th:replace="fragments/footer :: footer">
  </body>
</html>