<!DOCTYPE HTML>
  <html xmlns:th="http://www.thymeleaf.org">
      <head th:replace="fragments/header :: header"/>
          <title>NEWSIONARY/ARTICLE SEARCH</title>
          <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      </head>

      <body>
          <div class="container">
              <div th:replace="fragments/bodyHeader :: bodyHeader"/>
              <h1>Article</h1>
              <div class="jumbotron">
                  <div>
                    <h2 class= "wrapper" >
                        <th:block th:each="eachWord: ${ArticleTitle}">
                            <span class="popup_word" th:text= "${{ArticleTitle} != null} ? ${eachWord} : ' '"> </span>
                        </th:block>
                    </h2>
                    <h3 class= "wrapper">
                        <th:block th:each="eachWord: ${ArticleSubtitle}">
                            <span class="popup_word" th:text= "${{ArticleSubtitle} != null} ? ${eachWord} : ' '"> </span>
                        </th:block>
                    </h3>
                    <p class= "wrapper">
                        <th:block th:each="eachWord: ${ArticleBodyList}">
                            <span class="popup_word" th:text= "${{ArticleBodyList} != null} ? ${eachWord} : ' '"> </span>
                        </th:block>
                    </p>
                  </div>
              </div>
<!--               <form action="/" method="get"> -->
<!--                   <input placeholder = "Enter article's URL..." type="search" title="search" class="form-control form-group"></input> -->
<!--                   <a href="#" role="button" class="btn btn-primary btn-lg"> -->
<!--                       <span>START</span> -->
<!--                   </a> -->
<!--               </form> -->

              <div th:replace="fragments/footer :: footer">
          </div> <!-- /container -->
          <script>

          </script>
      </body>
  </html>