<!DOCTYPE HTML>
  <html xmlns:th="http://www.thymeleaf.org">
      <head th:replace="fragments/header :: header"/>
          <title>NEWSIONARY/ARTICLE SEARCH</title>
          <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      </head>

      <body>
          <div class="container">
              <div th:replace="fragments/bodyHeader :: bodyHeader"/>
              <h1>Article</h1>
              <div class="jumbotron">
                  <div>
                    <h2 th:text= "${{ArticleTitle} != null} ? ${ArticleTitle} : ' '">title</h2>
                    <h3 th:text= "${{ArticleSubtitle} != null} ? ${ArticleSubtitle} : ' '">subtitle</h3>
                    <p th:text= "${#strings.listJoin(ArticleBodyList, ' ')}">body</p>
                  </div>
              </div>
<!--               <form action="/" method="get"> -->
<!--                   <input placeholder = "Enter article's URL..." type="search" title="search" class="form-control form-group"></input> -->
<!--                   <a href="#" role="button" class="btn btn-primary btn-lg"> -->
<!--                       <span>START</span> -->
<!--                   </a> -->
<!--               </form> -->

              <div th:replace="fragments/footer :: footer">
          </div> <!-- /container -->
      </body>
  </html>