<!DOCTYPE HTML>
  <html xmlns:th="http://www.thymeleaf.org">
      <head th:replace="fragments/header :: header"/>
          <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      </head>
      <body>
          <div class="container">
              <div th:replace="fragments/bodyHeader :: bodyHeader"/>
              <br><br><br><br><br><br><br><br>
              <h1>Something went wrong. :(</h1>
              <br>
              <h3 th:text= "${message}"></h3>
              <br><br><br><br><br><br><br><br>
              <br><br><br><br><br><br><br><br>
              <br><br><br><br><br><br><br><br>
              <div th:replace="fragments/footer :: footer">
          </div> <!-- /container -->
          <script th:src=@{/js/errorAlert.js}></script>
      </body>
  </html>