<!DOCTYPE HTML>
  <html xmlns:th="http://www.thymeleaf.org">
      <head th:replace="fragments/header :: header"/>
          <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      </head>
<!-- th:if="${message} != null" th:onload="'javascript:alert(${message});'" 이런식으로 타임리프에서 특정 변수가 있으면 그 변수 값을 가지고 자바스크립트 함수를 실행하거나 하는게 가능한가요? -->
<!--       <body onload="errorAlertUsernameDupl()"> -->
<!-- th:onclick="'alert(\'' + ${myVar} + '\');'" -->
<!--       <body th:if="${message} != null" th:onclick="'alert(\'' + ${message} + '\');'"> -->


<!--    var msg ="${msg}"; -->
<!-- $(document).ready(function(){ -->
<!--    if(msg != null){ -->
<!--       alert(msg); -->
<!--    } -->
<!-- }) -->
      <body th:onload="'javascript:alert(${message});'">
          <div class="container">
              <div th:replace="fragments/bodyHeader :: bodyHeader"/>
              <br><br><br><br><br><br><br><br>
              <h1>Something went wrong. :(</h1>
              <br>
              <h3 th:text= "${message}"></h3>
              <br><br><br><br><br><br><br><br>
              <br><br><br><br><br><br><br><br>
              <br><br><br><br><br><br><br><br>
              <div th:replace="fragments/footer :: footer">
          </div> <!-- /container -->
          <script th:src=@{/js/errorAlert.js}></script>
      </body>
  </html>