<!DOCTYPE HTML>
  <html xmlns:th="http://www.thymeleaf.org">
      <head th:replace="fragments/header :: header"/>
          <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      </head>

      <body>
          <div class="container">
              <div th:replace="fragments/bodyHeader :: bodyHeader"/>
              <div id="BG_photo" class="jumbotron" style= "background: url(/img/img_main_bg2.png), linear-gradient(rgba(0,0,0,0.40),rgba(0,0,0,0.40));background-position:center bottom; background-size: 120%; background-blend-mode:overlay; min-height:400px;">
                  <h2 style= "color: white; margin-right: 7em;">BUILD YOUR ONLINE DICTIONARY FROM ONLINE NEWS ARTICLES!</h2><br>
                  <p style= "color: white; font-size:1em; margin-right: 7em;">Use NEWSIONARY to check vocabularies from articles and save unknowns into your own dictionary.</p>
                  <p style= "color: white; font-size:1em; margin-right: 7em;">You can even test the words and see your test records instantly.</p>
                  <form action="/searchURL" method="get">
                      <input placeholder = "     Enter article's URL..." type="search" title="URL" id="URL" name="URL" class="form-inline form-group searchBar"></input>
                      <button id="searchButton" class= "searchButton" type="submit" style= "display: inline; text-color: blue">
                          <span><i class="far fa-search"></i></span>
                      </button>
                  </form>
              </div>

              <div th:replace="fragments/footer :: footer">
          </div> <!-- /container -->
          <script>
          const input = document.getElementById("URL");
          input.addEventListener("keypress", function(event) {
            if (event.key === "Enter") {
              event.preventDefault();
              document.getElementById("searchButton").click();
            }
          });
          </script>
      <body>
  </html>