<!DOCTYPE HTML>
  <html xmlns:th="http://www.thymeleaf.org">
      <head th:replace="fragments/header :: header"/>
          <title>NEWSIONARY</title>
          <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      </head>

      <body>
          <div class="container">
              <div th:replace="fragments/bodyHeader :: bodyHeader"/>
              <div class="jumbotron">
                  <h1>NEWSIONARY</h1>
                  <h2>BUILD YOUR ONLINE DICTIONARY FROM ONLINE NEWS ARTICLES!</h2>
                  <h3>Use NEWSIONARY to check vocabularies from articles and save unknowns into your own dictionary.</h3>
                  <h3>You can even test the words and see your test records instantly.</h3>
              </div>
              <form action="/" method="get" class="form-inline">
                  <input placeholder = "Enter article's URL..." type="search" title="search" class="form-control form-group"></input>
                  <a href="#" role="button" class="btn btn-default">
                      <span>START</span>
                  </a>
              </form>

              <div th:replace="fragments/footer :: footer">
          </div> <!-- /container -->
      <body>
  </html>