<!DOCTYPE HTML>
  <html xmlns:th="http://www.thymeleaf.org">
      <head th:replace="fragments/header :: header"/>
      </head>

      <body>
          <div class="container">
              <div th:replace="fragments/bodyHeader :: bodyHeader"/>
              <table id="wordSearchResult" class= "table">
                <tr>
                  <th sec:authorize ="hasRole('ROLE_ADMIN')">Word ID</th>
                  <th style= "width:11%;">Word</th>
                  <th>Word Class</th>
                  <th>Meaning</th>
                  <th sec:authorize="isAuthenticated()">Add</th>
                  <th sec:authorize ="hasRole('ROLE_ADMIN')">Modify Word</th>
                </tr>
                <tr th:each= "word: ${result}">
                  <td th:text= "${word.id}" sec:authorize ="hasRole('ROLE_ADMIN')"/>
                  <td th:text= "${word.name}"/>
                  <td th:text= "${#strings.equals(word.wordClass, 'NOTAVAILABLE')} ?  'N/A' : ${word.wordClass}"/>
                  <td th:text= "${word.meaning}"/>
                  <td sec:authorize="isAuthenticated()"><button class= "addBtn" onclick = "addToWordListForm(event);" th:value= "${word.id}">+</button></td>
                  <th sec:authorize ="hasRole('ROLE_ADMIN')"><a th:href="@{/admin/modifyWord/{id}(id = ${word.id})}">Edit</a></th>
                </tr>
              </table>
              <div if id= "formLocation" sec:authorize="isAuthenticated()" class= "noShow">
                  <form action="#" th:object="${word}" id="AddWordToWordlistForm" name= "AddWordToWordlistForm" method="GET">
                    <p>Select a wordList to add.</p>
                    <select name="listSelect" id= "listSelect" size="6" style= "margin-bottom: 0.5em;">
                      <optgroup label="Your vocabulary lists">
                        <option th:each="wordList: ${wordLists}" th:value="${wordList.id}" th:text = "${wordList.wordListName}"></option>
                      </optgroup>
                    </select>
                    <br>
                    <input class="btn btn-primary btn-sm selectBtn" id= "selectBtn" value= "Select">
                  </form>
              </div>
              <div th:replace="fragments/footer :: footer">
          </div> <!-- /container -->
          <script>
              const form = document.getElementById("AddWordToWordlistForm");

              function addToWordListForm(event){
                  let wordId = event.target.value;
                  console.log("wordId: "+ wordId);
                  if (document.getElementById("formLocation").classList.contains('noShow')){
                    document.getElementById("formLocation").classList.remove('noShow');
                  } else{
                    document.getElementById("formLocation").classList.add('noShow');
                  }

                  const btn = document.getElementsByClassName("selectBtn");
                  for (let i = 0; i < btn.length; i++) {
                      btn[i].addEventListener("click", function(){
                         const selectedList = document.getElementById("listSelect").value;
                         console.log(selectedList);
                         console.log("wordId received: "+ wordId);

                         form.action = '/addWordToList/' + wordId;
                         console.log(form.action);
                         form.submit();
                      });
                  };
              };
//             document.getElementById("AddWordToWordlistForm").innerHTML
//             += '<span>Label: <input type="text"><small>(ft)</small></span>\r\n';
          </script>
      <body>
  </html>