<!DOCTYPE HTML>
  <html xmlns:th="http://www.thymeleaf.org">
      <head th:replace="fragments/header :: header"/>
      </head>

      <body>
          <div class="container">
              <div th:replace="fragments/bodyHeader :: bodyHeader"/>
              <h1>Sign Up</h1> <hr>
              <form role="form" th:action="@{/sign-up}" th:object="${MemberInfoDto}" method="POST" onsubmit = "return finalCheck()">
                    <div class="form-group">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" th:field="*{username}" name="username" id="username" class="form-control" required spellcheck = "false">
                        <ul class="id-checker noshow">
                            <li class="id-length nopassChecker">
                                <i class="far fa-times-circle"></i>
                                Username must be longer than 4 characters and less than 16 characters
                            </li>
                        </ul>
                    </div>

                    <div class="form-group">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" th:field="*{password}" name="password" id="password" class="form-control" required>
                        <ul class="pw-checker noshow" style="list-style-type: none;">
                            <li class="pw-length nopassChecker">
                                <i class="far fa-times-circle"></i>Password must be longer than 6 characters
                            </li>
                            <li class="pw-number nopassChecker">
                                <i class="far fa-times-circle"></i>Password must contain at least one number
                            </li>
                            <li class="pw-case nopassChecker">
                                <i class="far fa-times-circle"></i>Password must contain at least one
                                uppercase and lowercase letter
                            </li>
                            <li class="pw-special nopassChecker">
                                <i class="far fa-times-circle"></i>Password must contain at least one special character
                            </li>
                            <li class="pw-sameasid nopassChecker">
                                <i class="far fa-times-circle"></i>Password cannot include the username
                            </li>
                        </ul>
                    </div>

                    <div class="form-group">
                        <label for="psw-repeat" class="form-label">Confirm Password</label>
                        <input type="password" name="psw-repeat" id="psw-repeat" class="form-control" required>
                    </div>

                    <div class="form-group">
                        <label class="radio-inline">
                          <input type="radio" th:field="*{role}" name="role" id="role" value="ROLE_ADMIN"> Admin
                        </label>

                        <label class="radio-inline">
                          <input type="radio" th:field="*{role}" name="role" id="role" value="ROLE_USER" checked="checked"> User
                        </label>
                    <div class="form-group">

                    <br>

                    <button type="submit" class="btn btn-primary">Join</button>
                  </form>
                  <br>
              <div th:replace="fragments/footer :: footer">
          </div> <!-- /container -->
          <script th:src=@{/js/password-validation.js}></script>
      </body>
  </html>