<!DOCTYPE HTML>
  <html xmlns:th="http://www.thymeleaf.org">
      <head th:replace="fragments/header :: header"/>
          <title>NEWSIONARY</title>
          <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      </head>

      <body>
          <div class="container">
              <div th:replace="fragments/bodyHeader :: bodyHeader"/>
              <h1>Sign Up</h1> <hr>
              <form role="form" th:action="@{/}" th:object="${MemberInfoDto}" method="POST" onsubmit="return pwdcheck()">
                    <div class="form-group">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" th:field="*{username}" name="username" class="form-control" required> <br>
                    </div>

                    <div class="form-group">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" th:field="*{password}" name="password" class="form-control" required> <br>
                    </div>

                    <div class="form-group">
                        <label for="psw-repeat" class="form-label">Repeat Password</label>
                        <input type="password" name="psw-repeat" class="form-control" required> <br>
                    </div>

                    <div class="form-group">
                        <label class="radio-inline">
                          <input type="radio" th:field="*{role}" name="role" id="role" value="ROLE_ADMIN,ROLE_USER"> Admin
                        </label>

                        <label class="radio-inline">
                          <input type="radio" th:field="*{role}" name="role" id="role" value="ROLE_USER" checked="checked"> User
                        </label>
                    <div class="form-group">

                    <br>

                    <button type="submit" class="btn btn-primary">Join</button>
                  </form>
                  <br>
              <div th:replace="fragments/footer :: footer">
          </div> <!-- /container -->
      <body>
      <script>
          function pwdcheck(){
              var password = document.getElementsByName("password")[0].value

              var passwordCapital=/[A-Z]/.test(password)
              if(passwordCapital == true){
                  var passwordSmall = /[a-z]/.test(password)
                  if(passwordSmall == true){
                      var passwordNumber = /[0-9]/.test(password)
                      if(passwordNumber == true){
                          var passwordlength=password.length
                          if( passwordlength >=8 ){
                              var confirmPassword = document.getElementsByName("psw-repeat")[0].value
                              if(password == confirmPassword){
                                  var pass="OK"
                              }
                              else{
                                  var pass="NO"
                              }
                          }
                          else{
                              var pass="NO"
                          }
                      }
                      else{
                          var pass="NO"
                      }
                  }
                  else{
                      var pass="NO"
                  }
              }
              else{
                  var pass="NO"
              }


              if(pass=="OK"){
                  return true
              }
              else{
                  return false
              }
          }
      </script>
  </html>