<!DOCTYPE HTML>
  <html xmlns:th="http://www.thymeleaf.org">
      <head th:replace="fragments/header :: header"/>
          <title>NEWSIONARY/TEST Result</title>
      </head>

      <body>
          <div class="container">
              <div th:replace="fragments/bodyHeader :: bodyHeader"/>
              <h1>TEST</h1>
              <div class="jumbotron">

                <div th:each= "testObj: ${testObjs}">
                    <h2 th:text= "${testObj.wlw.word.name}"></h2>

                    <div th:if= "${testObj.indexOfCorrectAns != testObj.indexOfUserInput}" th:object= "${testObj}">
                        <div th:each= "answer,iter:${testObj.answerList}">
                            <!--right answer from incorrect question-->
                            <div class= "testChoiceContainer rightAns" th:if= "${testObj.indexOfCorrectAns == iter.index}">
                                <span class= "testChoices"><i class='fa-solid fa-circle-check'></i></span>
                                <span class= "testChoices" th:text= "${answer}"></span>
                            </div>
                            <!--wrong answer that the user selected from incorrect question-->
                            <div class= "testChoiceContainer wrongAns" th:if= "${testObj.indexOfCorrectAns != iter.index and testObj.indexOfUserInput == iter.index}">
                                <span class= "testChoices"><i class='fa-sharp fa-solid fa-circle-xmark'></i></span>
                                <span class= "testChoices" th:text= "${answer}"></span>
                            </div>
                            <!--wrong answers from incorrect question-->
                            <div class= "testChoiceContainer noSelAns" th:if= "${testObj.indexOfCorrectAns != iter.index and testObj.indexOfUserInput != iter.index}">
                                <span class= "testChoices"><i class="fa-solid fa-triangle-exclamation"></i></span>
                                <span class= "testChoices" th:text= "${answer}"></span>
                            </div>
                        </div>
                    </div>

                    <div th:if= "${testObj.indexOfCorrectAns == testObj.indexOfUserInput}" th:object= "${testObj}">
                        <div th:each= "answer,iter:${testObj.answerList}">
                            <!--right answer (that the user selected) from correct question-->
                            <div class= "testChoiceContainer rightAns" th:if= "${testObj.indexOfCorrectAns == iter.index}">
                                <span class= "testChoices"><i class='fa-solid fa-circle-check'></i></span>
                                <span class= "testChoices" th:text= "${answer}"></span>
                            </div>
                            <!--wrong answers from correct question-->
                            <div class= "testChoiceContainer noSelAns" th:if= "${testObj.indexOfUserInput != iter.index}">
                                <span class= "testChoices" ><i class="fa-solid fa-triangle-exclamation"></i></span>
                                <span class= "testChoices" th:text= "${answer}"></span>
                            </div>
                        </div>
                    </div>
                </div><br>
                <form action= "/user/wordList">
                    <input type= "submit" class="btn btn-primary btn-lg" value= "OK"></button>
                </form>
              </div>
              <div th:replace="fragments/footer :: footer">
          </div> <!-- /container -->
      </body>
  </html>

                            <!--위 식이 작동하려면 wlw만이 아니라 word데이터도 함께 가져와야만 한다.
                            그렇게 해서 가져온 후, 단어이름, 선택지 4개. 차례대로 배열한 후, 선택지에 마우스 올리면 커서 바뀌게,
                            선택하면 그 값 인풋에 넣기
                            그 후 인풋과 checkRightOrWrong 메소드로 정답인지 판단후,
                            wlw와 OX 값을 쌍으로 가지는 리스트를 만들어서 리턴.
                            그 후 결과 페이지에 동일한 구조로 또다시 보이게 한다음,(이 과정에서 이미 DB에는 테스트결과가 기록되도록하기)
                            유저 선택값과 정답이 일치하면 초록색으로, 아니면 정답은 초록, 선택값은 빨강으로 표시해서 결과페이지를 보여준다.
                           끝내기 버튼을 누르면 다시 워드리스트로.  -->