<!DOCTYPE HTML>
  <html xmlns:th="http://www.thymeleaf.org">
      <head th:replace="fragments/header :: header"/>
          <title>NEWSIONARY/TEST Result</title>
      </head>

      <body>
          <div class="container">
              <div th:replace="fragments/bodyHeader :: bodyHeader"/>
              <h1>TEST</h1>
              <div class="jumbotron">

                <div th:each= "testObj: ${testObjs}">
                    <h2 th:text= "${testObj.wlw.word.name}"></h2>

                    <div th:if= "${testObj.indexOfCorrectAns != testObj.indexOfUserInput}" th:object= "${testObj}">
                        <div th:each= "answer,iter:${testObj.answerList}">
                            <!--right answer from incorrect question-->
                            <div class= "testChoiceContainer rightAns" th:if= "${testObj.indexOfCorrectAns == iter.index}">
                                <span class= "testChoices"><i class='fa-solid fa-circle-check'></i></span>
                                <span class= "testChoices" th:text= "${answer}"></span>
                            </div>
                            <!--wrong answer that the user selected from incorrect question-->
                            <div class= "testChoiceContainer wrongAns" th:if= "${testObj.indexOfCorrectAns != iter.index and testObj.indexOfUserInput == iter.index}">
                                <span class= "testChoices"><i class='fa-sharp fa-solid fa-circle-xmark'></i></span>
                                <span class= "testChoices" th:text= "${answer}"></span>
                            </div>
                            <!--wrong answers from incorrect question-->
                            <div class= "testChoiceContainer noSelAns" th:if= "${testObj.indexOfCorrectAns != iter.index and testObj.indexOfUserInput != iter.index}">
                                <span class= "testChoices"><i class="fa-solid fa-triangle-exclamation"></i></span>
                                <span class= "testChoices" th:text= "${answer}"></span>
                            </div>
                        </div>
                    </div>

                    <div th:if= "${testObj.indexOfCorrectAns == testObj.indexOfUserInput}" th:object= "${testObj}">
                        <div th:each= "answer,iter:${testObj.answerList}">
                            <!--right answer (that the user selected) from correct question-->
                            <div class= "testChoiceContainer rightAns" th:if= "${testObj.indexOfCorrectAns == iter.index}">
                                <span class= "testChoices"><i class='fa-solid fa-circle-check'></i></span>
                                <span class= "testChoices" th:text= "${answer}"></span>
                            </div>
                            <!--wrong answers from correct question-->
                            <div class= "testChoiceContainer noSelAns" th:if= "${testObj.indexOfUserInput != iter.index}">
                                <span class= "testChoices" ><i class="fa-solid fa-triangle-exclamation"></i></span>
                                <span class= "testChoices" th:text= "${answer}"></span>
                            </div>
                        </div>
                    </div>
                </div><br>
                <form action= "/user/wordList">
                    <input type= "submit" class="btn btn-primary btn-lg" value= "OK"></button>
                </form>
              </div>
              <div th:replace="fragments/footer :: footer">
          </div> <!-- /container -->
      </body>
  </html>