<!DOCTYPE HTML>
  <html xmlns:th="http://www.thymeleaf.org">
      <head th:replace="fragments/header :: header"/>
          <title>NEWSIONARY/TEST</title>
      </head>

      <body>
          <div class="container">
              <div th:replace="fragments/bodyHeader :: bodyHeader"/>
              <h1>TEST</h1>
              <div class="jumbotron">

                  <form action= "/user/markTest" method= "POST" id= "selectForm" th:object= "${testObjs}">
                    <div th:each= "testObj: ${testObjs}">
                        <h2 th:text= "${testObj.wlw.word.name}"></h2>
                        <div th:object= "${testObj}">
                            <div th:each= "answer,iter:${testObj.answerList}">
                                <input type="radio"  th:name= "${testObj.wlw.word.name}" th:value="${testObj.wlw.id}+'S'+${iter.index}" >
                                <span class= "testChoices" th:text= "${answer}"></span>
                            </div>
                        </div>
                    </div>
                    <br><br>
                    <input class="btn btn-primary btn-lg" type="submit" value= "Submit">
                  </form>
              </div>
              <div th:replace="fragments/footer :: footer">
          </div> <!-- /container -->
        <script>
            function openForm(){
                if(document.getElementById("form-popup").style.display == "block"){
                    document.getElementById("form-popup").style.display = "none"
                } else{
                    document.getElementById("form-popup").style.display = "block"
                }
            }

            function deleteWordlist(){
                    const form = document.getElementById("selectForm");
                    const val = document.getElementById("wordListSelect").value;
                    form.action = '/deleteWordList';
                    form.submit();
                    form.action = '/user/inWordList';
                }
            const form = document.getElementById("selectForm");
            form.addEventListener("dblclick", function(){form.submit()});
        </script>
      </body>
  </html>